@charset "UTF-8";
@-webkit-keyframes fromBottom {
  0% {
    transform: translateY(250px); }
  100% {
    transform: translateY(0); } }

@-moz-keyframes fromBottom {
  0% {
    transform: translateY(250px); }
  100% {
    transform: translateY(0); } }

@-o-keyframes fromBottom {
  0% {
    transform: translateY(250px); }
  100% {
    transform: translateY(0); } }

@keyframes fromBottom {
  0% {
    transform: translateY(250px); }
  100% {
    transform: translateY(0); } }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  40% {
    opacity: .5; }
  100% {
    opacity: 1; } }

@-moz-keyframes fade-in {
  0% {
    opacity: 0; }
  40% {
    opacity: .5; }
  100% {
    opacity: 1; } }

@-o-keyframes fade-in {
  0% {
    opacity: 0; }
  40% {
    opacity: .5; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  40% {
    opacity: .5; }
  100% {
    opacity: 1; } }

body {
  font-family: '微软雅黑', "Microsoft Yahei", "Helvetica Neue", Helvetica, sans-serif;
  -webkit-touch-callout: none;
  /*系统默认菜单被禁用*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -khtml-user-select: none;
  /*早期浏览器*/
  -moz-user-select: none;
  /*火狐*/
  -ms-user-select: none;
  /*IE10*/
  user-select: none; }

input {
  -webkit-user-select: auto; }

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  box-shadow: 0 0 0 1000px white inset !important; }

.fadIn {
  animation-duration: 4s;
  -webkit-animation-duration: 4s;
  animation: fade-in 1s;
  -webkit-animation: fade-in 1s; }

.toast {
  height: auto;
  line-height: 1.25rem; }

.modal {
  margin: 0rem;
  -webkit-transform: translate3d(-50%, -50%, 0) scale(1.2);
  transform: translate3d(-50%, -50%, 0) scale(1.2); }

.modal.modal-in {
  -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
  transform: translate3d(-50%, -50%, 0) scale(1); }

.modal.modal-out {
  -webkit-transform: translate3d(-50%, -50%, 0) scale(0.815);
  transform: translate3d(-50%, -50%, 0) scale(0.815); }

input[type="checkbox"] {
  display: none; }
  input[type="checkbox"] + label {
    display: inline-flex;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    input[type="checkbox"] + label .name {
      font-size: 0.7rem;
      padding-left: 0.25rem; }
    input[type="checkbox"] + label:before {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      font-size: 0.8rem;
      font-family: "iconfont" !important;
      content: "\e617";
      vertical-align: middle;
      -webkit-transition: background ease-in 0.5s "";
      -o-transition: background ease-in 0.5s "";
      -moz-transition: background ease-in 0.5s "";
      transition: background ease-in 0.5s "";
      color: #3d4145; }
  input[type="checkbox"]:checked + label:before {
    color: #00dfff; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

ul,
li {
  margin: 0rem;
  padding: 0rem;
  list-style-type: none; }

a {
  cursor: pointer; }

a.iconfont {
  display: block;
  margin: 0rem 0.2rem;
  cursor: pointer; }

.btn-green {
  background: #45a300; }

.btn-red {
  background: #b82b00; }

.btn-yellow {
  background: #f3ce00; }

.btn-orange {
  background: #ff6c00; }

.font-green {
  color: #45a300; }

.font-red {
  color: #b82b00; }

.float-menu {
  box-sizing: border-box;
  position: fixed;
  width: 2.1rem;
  height: 2.1rem;
  bottom: 1rem;
  right: 0.5rem;
  z-index: 9999;
  background: #ff7a19;
  border-radius: 100%;
  text-align: center;
  line-height: 2.1rem;
  color: #ffffff;
  -moz-box-shadow: 0rem 0.15rem 0.2rem 0rem #6b340c;
  -webkit-box-shadow: 0rem 0.15rem 0.2rem 0rem #6b340c;
  box-shadow: 0rem 0.15rem 0.2rem 0rem #6b340c;
  opacity: .8;
  animation: fromBottom 0.8s 1;
  -webkit-animation: fromBottom 0.8s 1; }
  .float-menu .float-menu-icon {
    position: relative; }
    .float-menu .float-menu-icon:active i {
      color: #ffd7bd; }
    .float-menu .float-menu-icon .float-menu-list {
      position: absolute;
      bottom: 2.1rem;
      right: 0;
      width: 2.1rem;
      -webkit-transform: scale(0);
      transform: scale(0); }
      .float-menu .float-menu-icon .float-menu-list ul li {
        position: relative;
        width: 2.1rem;
        height: 2.1rem;
        margin: 0.4rem 0rem;
        background: #ff7a19;
        border-radius: 100%;
        text-align: center;
        line-height: 2.1rem;
        -moz-box-shadow: 0rem 0.15rem 0.2rem 0rem #6b340c;
        -webkit-box-shadow: 0rem 0.15rem 0.2rem 0rem #6b340c;
        box-shadow: 0rem 0.15rem 0.2rem 0rem #6b340c;
        transition: all 0.5s; }
        .float-menu .float-menu-icon .float-menu-list ul li:nth-child(1) {
          transition-delay: 0.05s;
          -webkit-transform: scale(0);
          transform: scale(0); }
        .float-menu .float-menu-icon .float-menu-list ul li:nth-child(2) {
          transition-delay: 0.1s;
          -webkit-transform: scale(0);
          transform: scale(0); }
        .float-menu .float-menu-icon .float-menu-list ul li:nth-child(3) {
          transition-delay: 0.15s;
          -webkit-transform: scale(0);
          transform: scale(0); }
        .float-menu .float-menu-icon .float-menu-list ul li:nth-child(4) {
          transition-delay: 0.2s;
          -webkit-transform: scale(0);
          transform: scale(0); }
        .float-menu .float-menu-icon .float-menu-list ul li:nth-child(5) {
          transition-delay: 0.25s;
          -webkit-transform: scale(0);
          transform: scale(0); }
        .float-menu .float-menu-icon .float-menu-list ul li:nth-child(6) {
          transition-delay: 0.3s;
          -webkit-transform: scale(0);
          transform: scale(0); }
        .float-menu .float-menu-icon .float-menu-list ul li:active {
          background: #ff8b36; }
        .float-menu .float-menu-icon .float-menu-list ul li:after {
          content: attr(data-menuname);
          position: absolute;
          top: 50%;
          right: 2.6rem;
          height: 1rem;
          line-height: 1rem;
          padding: 0.2rem 0.3rem;
          margin-top: -0.6rem;
          font-size: 0.7rem;
          color: #fff;
          background: #999;
          border-radius: 0.3rem;
          white-space: nowrap; }
        .float-menu .float-menu-icon .float-menu-list ul li a {
          width: 2.1rem;
          height: 2.1rem;
          display: inline-block;
          color: #ffffff; }
    .float-menu .float-menu-icon[data-flm=open] .float-menu-list {
      -webkit-transform: scale(1);
      transform: scale(1); }
      .float-menu .float-menu-icon[data-flm=open] .float-menu-list li:nth-child(1) {
        transition-delay: 0.3s;
        -webkit-transform: scale(1);
        transform: scale(1); }
      .float-menu .float-menu-icon[data-flm=open] .float-menu-list li:nth-child(2) {
        transition-delay: 0.15s;
        -webkit-transform: scale(1);
        transform: scale(1); }
      .float-menu .float-menu-icon[data-flm=open] .float-menu-list li:nth-child(3) {
        transition-delay: 0.1s;
        -webkit-transform: scale(1);
        transform: scale(1); }
      .float-menu .float-menu-icon[data-flm=open] .float-menu-list li:nth-child(4) {
        transition-delay: 0.075s;
        -webkit-transform: scale(1);
        transform: scale(1); }
      .float-menu .float-menu-icon[data-flm=open] .float-menu-list li:nth-child(5) {
        transition-delay: 0.06s;
        -webkit-transform: scale(1);
        transform: scale(1); }
      .float-menu .float-menu-icon[data-flm=open] .float-menu-list li:nth-child(6) {
        transition-delay: 0.05s;
        -webkit-transform: scale(1);
        transform: scale(1); }
  .float-menu .iconfont {
    font-size: 1.1rem; }

.btn {
  position: relative;
  cursor: pointer; }
  .btn:after {
    content: "";
    background: #fff;
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    margin: auto;
    border-radius: 50%;
    transform: scale(2);
    transition: all 0.5s ease-in-out; }
  .btn:active:after {
    transform: scale(0);
    opacity: 1;
    transition: 0s; }

.left {
  float: left; }

.right {
  float: right; }

.iss-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: #ccc !important;
  z-index: 10;
  cursor: pointer; }

.picker-item {
  font-size: 0.8rem; }

.list-block .item-text {
  font-size: 0.85rem;
  line-height: 2.15rem;
  padding: 0 0 0 0.25rem; }

.list-block .item-add-icon {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10; }
  .list-block .item-add-icon i {
    font-size: 1rem; }

.list-block .multi-select {
  height: auto;
  padding: 0 1.5rem 0 0.25rem;
  -webkit-line-clamp: inherit; }

.diy-modal {
  border-radius: 0.35rem; }
  .diy-modal .modal-inner {
    max-height: 15rem;
    overflow-y: scroll;
    border-radius: 0.35rem;
    text-align: left;
    background: #ffffff; }
    .diy-modal .modal-inner:after {
      display: none; }
    .diy-modal .modal-inner li:nth-child(2n) {
      background: #eeeeee; }
    .diy-modal .modal-inner li {
      line-height: 1.4rem;
      margin: 0.2rem 0rem;
      padding: 0.3rem 0.2rem; }

.multi-select {
  height: auto; }
  .multi-select .lable {
    height: 1.5rem;
    margin: 0.2rem;
    display: inline-block;
    padding: 0.1rem 0.2rem;
    line-height: 1.25rem;
    background: #999999;
    border-radius: 0.25rem;
    color: #ffffff;
    font-size: 0.7rem; }

.list-menu .info {
  padding-left: 0.5rem; }

.modal-no-buttons {
  width: 10rem; }

.bar .button-nav:active i {
  color: #ffd7bd; }

.login-out {
  width: 100%;
  text-align: center; }
  .login-out button {
    width: 5rem;
    display: inline-block;
    background-color: #d44e00; }

.onlineColor {
  color: #45a300; }

.offlineColoe {
  color: #f3ce00; }

.unknowColor {
  color: #228dbe; }

.abnormalColor {
  color: #b82b00; }

.guide {
  background: -webkit-linear-gradient(205deg, #38cdd7, #2b75ba);
  background: -o-linear-gradient(205deg, #38cdd7, #2b75ba);
  background: -moz-linear-gradient(205deg, #38cdd7, #2b75ba);
  background: linear-gradient(205deg, #38cdd7, #2b75ba); }
  .guide .guide-wrap {
    width: 100%;
    height: 100%;
    background-image: url("./../images/login_bg.png");
    background-size: cover; }
  .guide .guide-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 15rem;
    width: 15rem;
    padding: 1.5rem;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100%; }
    .guide .guide-circle .guide-menu-list {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 13.5rem;
      height: 13.5rem;
      padding: 1.5rem;
      transform: translate(-50%, -50%);
      background: -webkit-linear-gradient(205deg, #35c8da, #2a7cbe);
      background: -o-linear-gradient(205deg, #35c8da, #2a7cbe);
      background: -moz-linear-gradient(205deg, #35c8da, #2a7cbe);
      background: linear-gradient(205deg, #35c8da, #2a7cbe);
      border-radius: 100%;
      -moz-box-shadow: 0px 0px 3px rgba(61, 196, 215, 0.8) inset, 0 0.15rem 0.4rem 0rem #017da7;
      -webkit-box-shadow: 0px 0px 3px rgba(61, 196, 215, 0.8) inset, 0 0.15rem 0.4rem 0rem #017da7;
      box-shadow: 0px 0px 3px rgba(61, 196, 215, 0.8) inset, 0 0.15rem 0.4rem 0rem #017da7; }
      .guide .guide-circle .guide-menu-list .guide-menu {
        position: relative;
        width: 5.2rem;
        height: 5.2rem;
        padding: 0.5rem 0rem;
        color: #ffffff;
        text-align: center; }
        .guide .guide-circle .guide-menu-list .guide-menu a {
          display: inline-block;
          color: #ffffff; }
        .guide .guide-circle .guide-menu-list .guide-menu .icon i {
          font-size: 1.6rem; }
        .guide .guide-circle .guide-menu-list .guide-menu .info {
          margin: 0rem;
          color: #ffffff;
          font-size: 1rem; }
      .guide .guide-circle .guide-menu-list::before {
        position: absolute;
        width: 0.05rem;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(0, -50%);
        content: '';
        background: rgba(255, 255, 255, 0.2); }
      .guide .guide-circle .guide-menu-list::after {
        position: absolute;
        width: 0.05rem;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(0, -50%) rotate(90deg);
        content: '';
        background: rgba(255, 255, 255, 0.2); }
  .guide .login-scan {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem; }
    .guide .login-scan .iconfont {
      color: #ffffff;
      font-size: 1rem; }
